<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="../static/css/index.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../static/css/old_house.css">
    <script src="../static/js/jquery-1.11.3.js"></script>
    <script src="../static/js/old_house.js"></script>
</head>
<body>
		<!-- 导航条 -->
		<nav class="navbar navbar-default navbar-fixed-top">
		    <div class="container">
		        <!-- Brand and toggle get grouped for better mobile display -->
		        <div class="navbar-header">
		            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		            <a  class="navbar-brand" href="#">佳居房源</a>
		        </div>

		        <!-- Collect the nav links, forms, and other content for toggling -->
		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		            <ul class="nav navbar-nav navbar-right" id="daohang">
		                <li><a href="/">首页</a></li>
		                <li><a href="/old_house/">二手房</a></li>
		                <li><a href="/new_house/">新房</a></li>
		                <li><a href="/rent_house/">租房</a></li>
		                <li><a href="/village/">小区</a></li>
                        <li><a href="/person/">经纪人</a></li>
		                <li><a href="/push/">发布房源</a></li>
		            </ul>
		        </div><!-- /.navbar-collapse -->
		    </div><!-- /.container-fluid -->
		</nav>
        <br><br><br>
<!-- 广告栏 -->

<!-- 介绍 -->
		<div id="information">
		    <div class="container">
		        <div class="row">
		            <div class="col-md-8">
		                <div class="container-fluid" style="padding:0;" id="old_house">

		                </div>
		            </div>
		            <div class="col-md-4 info-right hidden-xs hidden-sm" id="show_Hostold">
		                <blockquote>
		                    <h2>二手房概览</h2>
		                </blockquote>
		            </div>
		        </div>
		    </div>
</div>
<!-- 底部 -->
        <br>
<footer id="footer">
    <div class="container">
        <p>佳居房源</p>
        <p>版权 201558234084 陈怡行 所有 </p>
    </div>
</footer>
</body>
</html>
</body>
</html>